<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rest home</title>
</head>
<body>
<h1>MOVIE REST API</h1>
<h3>Description</h3>
<p>created by Wojciech Niedbala</p>
<h3>Documentation</h3>
<ul>
    <li><a href="/apidocs"> swagger documentation</a></li>
</ul>
<h3>Endpoints:</h3>
<p>(All endpoints are in documentation above)</p>
<ul>
    <li><a href="/movies"> [GET] all movies</a></li>
    <li><a href="/actor/Edward%20Norton"> [GET] all Edward Norton movies</a></li>
    <li><a href="/movies/rating/8.5"> [GET] all movies rated above 8.5</a></li>
</ul>

<style>
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
</style>
</body>
</html>